/* Navigation */
#navbar{
    flex-direction: column;
    
}
#navbar ul {
    display: flex;
    flex-wrap: wrap;
}


#home h1 {
    font-size: 36px;
}

#navbar ul li a{
    font-size: 1.2rem;
    padding: 0px 9px;
}
/* Home Section */
#home{
    height: 230px; 
    padding: 3px 68px;
}

#home::before{
    height: 474px;
}

#home p{
    font-size: 1rem;
}
/* Services Section */
#services{

    flex-direction: column;
}

#services .box{
  padding: 14px;
  margin: 2px 0;
  margin-bottom: 20px;
}

/* Client Section */
#client-section::before {
    height: 365px;
}

#clients{
    flex-wrap: wrap;
}

.client-item {
    padding: 55px;
}

#clients img{
    padding: 0px;
    width: 60px;
    height: auto;
}
/* Contact Us Section */
#contact-box form{
    width: 80%;
}

/* Footer */

/* Utility Classes */
.h-primary{
    font-size: 16px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}